body {
    background-color: rgb(249, 249, 249);
}

.spacing_only {
    height: 300px;
}

h1 {
    font-size:27px;
    color: aliceblue;
}

.title-box {
    position: relative;
    border-radius: 25px;
    padding-top: 7.5rem;
    height:13vh;
    background-color: var(--theme);
}

.text-box {
    position:absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    padding-top: 1rem;
    padding-bottom: 5rem;
}

label {
    padding-left: 6px;
}

hr {
    margin:8px 0px;
}

.btn.btn-secondary {
    background-color: rgb(187, 187, 187);
    border:none;
    padding-left:0 px;

}

