body {
    background-color: rgb(249, 249, 249);
}

#my-dropdown {
    width: 100%;
    text-align: left;
}

label {
    display: block;
    padding-bottom: 8px;
    color: gray;
    text-decoration: none;
    display: block;
}

.dropdown-container {
    padding: 8px 16px;
    display: block;
    padding: 20px;
}

h1 {
    font-size:27px;
    color: aliceblue;
}

.btn {
    float: right;
    margin-bottom:1.5rem;
}

.card {
    border-radius: 20px;
}


.title-box {
    position: relative;
    border-radius: 25px;
    padding-top: 50%;
    height:30vh;
    background-color: var(--theme);
}

.text-box {
    position:absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}