#message-input {
    padding: 120px 20px 20px 20px;
}

.message {
    padding: 20px 20px 80px 20px;
}

a:hover {
    cursor: pointer;
}

.seekHelp,
.information {
    color: #83BCD4;
}

.link {
    color: #5C8A94;
}

.time {
    font-size: 1px;
    color: #b6b6b6;
}

#username {
    margin-bottom: 3px;
}

.toshow {
    display: none;
}