#message-input {
    padding: 120px 20px 20px 20px;
}

.message {
    padding: 20px 20px 80px 20px;
}

a:hover {
    cursor: pointer;
}

.seekHelp,
.information {
    color: #83BCD4;
}

.link {
    color: var(--darkerTheme);
}

.time {
    font-size: 1px;
    color: #b6b6b6;
}

#username {
    margin-bottom: 3px;
}

.toshow {
    display: none;
}

.material-icons {
    float: right;
    margin-top: -6px;
    font-size: 28px !important;
    color: #b6b6b6;
}


.profile-link {
    float:right;
}

.card-image {
    width:63px;
    height:63px;
    object-fit: cover;
}