:root {
    --theme: #83BCD4;
    --darkerTheme: #5C8A94;
    --contrastorange: #DE905c;
}

* {
    box-sizing: border-box;
    overflow-y: auto;
}

h5 {
    color: var(--theme);
}

h1 {
    color: var(--darkerTheme);
    margin-top: 100px;
    text-align: center;
    padding: 5px;
}

.btn-secondary {
    background-color: var(--contrastorange);
    border: none;
    color: white;
}

.form-group {
    padding: 10px;

}

#editItems {
    margin-bottom: 60px;
}

#pic-area {
    display: flex;
    flex-direction: column;
}

#pic-area>img {
    width: 200px;
    height: 200px;
    align-self: center;
    padding: 20px;
    border-radius: 50%!important;
    object-fit: cover;
}

#pic-area>input {
    align-self: center;
    margin-top: 20px;
}

#logout-button {
    float:right;
    margin-bottom: 60px;
    margin-right: 0px;
    margin-left: 85%;
}

@media screen and (min-width: 768px) {
    #personalInfoFields {
        display: flex;
        flex-direction: row;
    }

    .form-group {
        width: 50%;
    }

    /* #pic-area>img {
        width: 100%;
        height: 100%;
    } */

}