:root {
    --theme: #83BCD4;
    --darkerTheme: #5C8A94;
    --contrastorange: #DE905c;
}

h5 {
    color: var(--theme);
}

h1 {
    color: var(--darkerTheme);
    margin-top: 20px;
    text-align: center;
    padding: 50px;
}

.btn-secondary {
    background-color: var(--contrastorange);
    border: none;
    color: black;
}