:root {
    --theme: #83BCD4;
    --darkerTheme: #5C8A94;
    --contrastorange: #DE905c;
}

* {
    box-sizing: border-box;
    overflow-y: auto;
}

h5 {
    color: var(--theme);
}

h1 {
    color: var(--darkerTheme);
    margin-top: 100px;
    text-align: center;
    padding: 5px;
}

.btn-secondary {
    background-color: var(--contrastorange);
    border: none;
    color: black;
}

.form-group {
    padding: 10px;

}

#editItems {
    margin-bottom: 60px;
}