/* new color and font styles */

:root {
    --theme: #83BCD4;
    --darkerTheme: #5C8A94;
    --contrastorange: #DE905c;
    --text: #81868d;
    --backgroundWhite: #FFFFFF;
}

/* box shadow class */
.box-shadow {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
    position: relative;
    z-index: 10;
}

/* color */

.theme {
    background-color: var(--theme);
}

.darkerTheme {
    background-color: var(--darkerTheme);
}

.contrastOrange {
    background-color: var(--contrastOrange);
}

.text {
    color: var(--text);
}

.background {
    background-color: var(--backgroundWhite);
}

/* font */


/* General use */
.subheading {
    font-size: 0.9rem;
    color: var(--text);
}

.nav {
    box-shadow: 2px 2px 9px 2px rgba(0,0,0,.2)
}



/* for login overwrite */
.mdl-button--raised.mdl-button--colored {
    background: #5C8A94;
    color: rgb(255,255,255);
    border-radius: 18px
}

.mdl-button--raised.mdl-button--colored:hover {
    background-color: #56808a;
}   

.mdl-button--primary.mdl-button--primary {
    color: #81868d;
}

.mdl-shadow--2dp {
    border-radius : 25px;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.box {
    padding-top : 11rem; 
}

.firebaseui-card-footer p {
    display:none
}

.firebaseui-title {
    padding-top: 12px;
    font-size: 23px;
    text-align: center;
}

.firebaseui-card-content {
    padding-top: 20px;
}


.firebaseui-inline-list-item {
    display: none;
}

.firebaseui-link {
    color:#76b1bf
}


/* Bootstrap item redefine */
.btn-primary,
.form-check-input:checked {
    color: white;
    background-color: #5C8A94 !important;
    border-color: #5C8A94 !important;
}

.btn-info {
    color: rgb(62, 62, 62);
    background-color: #83BCD4;
    border-color: #83BCD4;
}