/* new color and font styles */

:root {
    --theme: #83BCD4;
    --darkerTheme: #5C8A94;
    --contrastorange: #DE905c;
}

/* color */

.theme {
    background-color: var(--theme);
}

.darkerTheme {
    background-color: var(--darkerTheme);
}

.contrastOrange {
    color: var(--contrastOrange);
}

/* font */

/* Bootstrap item redefine */
.btn-primary,
.form-check-input:checked {
    color: white;
    background-color: #5C8A94 !important;
    border-color: #5C8A94 !important;
}

.btn-info {
    color: rgb(62, 62, 62);
    background-color: #83BCD4;
    border-color: #83BCD4;
}