body {
    background-color: var(--theme)
}

.container {
    position: relative;
    height: 100vh;
}

.centered {
    margin: 0;
    position: absolute;
    height:110px;
    width:auto;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border-radius: 25px;
    margin-top:2rem;
    font-weight: 600;
    border: 2px solid;

}